<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">


    <th:block layout:fragment="rows">
        <form method="POST" th:action="'/expenses/add'" >

            <table class="table">

                <div class="caption">
                    <input  name="product" placeholder="Продукт"  />
                </div>					

                <div class="caption">
                    <input  name="price" placeholder="Цена"  />
                </div>	
                <div class="caption">
                    <input  name="organization" placeholder="Организация"  />
                </div>	

                <div class="caption">
                    <div class="input-append date dp3"   data-date="02-11-1992" data-date-format="dd-mm-yyyy">
                        <span class="add-on"> 
                            <input   size="12" name="date_use" placeholder="Дата использования" readonly="readonly" />
                            <button class="glyphicon glyphicon-calendar  btn btn-link btn-xs"></button>
                        </span>
                    </div>
                </div>	


                <div class="span6">
                    <textarea class="field span12" id="textarea" rows="6" name="description" placeholder="Описание"></textarea>
                </div>
            </table>
            <button type="submit" class="btn btn-primary">Добавить</button> 
            <button type="reset" class="btn btn-default">Очистить поля</button> 
        </form>

        <br/><br/>

        <br/> 


        <br/><br/><br/>

        <tbody>
            <tr th:each="expense : ${expenses}">
                <tr class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="thumbnail" th:href="@{'/expenses/' + ${expense.pk_expense}}">
                            <img th:src="@{'/img/' + ${expense.pk_expense}} +'.jpg'"  />
                            <div class="caption">

                                <center><h4>Продукт: <strong><span th:text="${expense.product}"></span></strong></h4></center>
                                <center><h6>Цена: <span th:text="${expense.price}"></span></h6></center>
                                <center><h6>Дата использования: <span th:text="${expense.date_use}"></span></h6></center>
                                <center><h6>Организация: <span th:text="${expense.organization}"></span></h6></center> 
                                <center><h6>description: <span th:text="${expense.description}"></span></h6></center>

                            </div>
                        </a>
                    </div>

                </tr>
            </tr>
        </tbody>
        <script>
            document.title = "Расходы";
        </script>
    </th:block>

</html>
