<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">

    <th:block layout:fragment="rows">
        <div class="container">
            <form method="POST" th:action="'/owners/' + ${owner.pk_owner}" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="POST" />
                <table class="table">

                    <div class="caption">
                        <span class="col-sm-2" >Название/ФИО:</span>
                        <input  name="name" th:value="${owner.name}"    />
                    </div>					

                    <div class="caption">
                        <span class="col-sm-2" >Номер телефона:</span>
                        <input  name="telephone" th:value="${owner.telephone}" />
                    </div>	
                    <div class="caption">
                        <span class="col-sm-2" >Адрес: </span>
                        <input  name="address" th:value="${owner.address}"  />
                    </div>	
                    <div class="caption">
                        <span class="col-sm-2" >Количество животных:</span>
                        <input  name="amount_of_animal" th:value="${owner.amount_of_animal}"  />
                    </div>


                    <span class="col-sm-1" > </span>
                    <span class="btn btn-default">
                        Вставить картинку <input type="file" name="file" accept=".jpg,.jpeg,.png"/>
                    </span>


                </table>


                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back()">Назад</button>
                <br/><br/><br/>

            </form>



        </div>
        <script>
            document.title = "редактирование";
        </script>
    </th:block>

</html>

