<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">

    <th:block layout:fragment="rows">
        <div class="container">
            <form method="POST" th:action="'/sponsors/' + ${sponsor.pk_sponsor}" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="POST" />
                <table class="table">

                    <div class="caption">
                        <span class="col-sm-2" >Название/ФИО:</span>
                        <input  name="name" th:value="${sponsor.name}"    />
                    </div>					
                    <div class="caption">
                        <span class="col-sm-2" >Организация: </span>
                        <select name="is_organization" >
                            <option th:value="1" th:selected="1 == ${sponsor.is_organization}">Да</option>
                            <option th:value="2" th:selected="2 == ${sponsor.is_organization}">Нет</option>
                        </select> 
                    </div>	
                    <div class="caption">
                        <span class="col-sm-2" >Номер телефона:</span>
                        <input  name="telephone" th:value="${sponsor.telephone}" />
                    </div>	
                    <div class="caption">
                        <span class="col-sm-2" >Адрес: </span>
                        <input  name="address" th:value="${sponsor.address}"  />
                    </div>	

                    <div class="caption">
                        <span class="col-sm-2" >Сайт:</span>
                        <input  name="site" th:value="${sponsor.site}"  />
                    </div>
                    <div class="caption">
                        <span class="col-sm-2" >Почта:</span>
                        <input  name="email" th:value="${sponsor.email}"  />
                    </div>
                    <div class="span6">
                        <span class="col-sm-2" >Описание:</span>
                        <textarea   class="field span12"  rows="6"  th:field="${sponsor.description}" ></textarea>
                    </div>

                    <span class="col-sm-1" > </span>
                    <span class="btn btn-default">
                        Вставить картинку <input type="file" name="file" accept=".jpg,.jpeg,.png"/>
                    </span>


                </table>


                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back()">Назад</button>
                <br/><br/><br/>

            </form>



        </div>
        <script>
            document.title = "редактирование";
        </script>
    </th:block>

</html>

