<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">

    <th:block layout:fragment="rows">
        <form method="POST" th:action="'/sponsors/add'" enctype="multipart/form-data" >

            <table class="table">

                <div class="caption">
                    <input  name="name" placeholder="Название/ФИО"  />
                </div>					
                <div class="caption">
                    <h5>Организация:
                        <select name="is_organization" >
                            <option value="1">Да</option>
                            <option value="2">Нет</option>
                        </select> 
                    </h5>
                </div>
                <div class="caption">
                    <input  name="telephone" placeholder="Номер телефона"  />
                </div>	
                <div class="caption">
                    <input  name="address" placeholder="Адрес"  />
                </div>	

                <div class="caption">
                    <input  name="site" placeholder="Сайт"  />
                </div>	
                <div class="caption">
                    <input  name="email" placeholder="Почта"  />
                </div>	

                <span class="btn btn-default btn-file">
                    Вставить картинку <input type="file" name="file"/>
                </span>
                <div class="span6">
                    <textarea class="field span12" id="textarea" rows="6" name="description" placeholder="Описание"></textarea>
                </div>
            </table>
            <button type="submit" class="btn btn-primary">Добавить</button> 
            <button type="reset" class="btn btn-default">Очистить поля</button> 
        </form>

        <br/><br/>

        <br/> 


        <br/><br/><br/>

        <tbody>
            <tr th:each="sponsor : ${sponsors}">

                <div class="col-sm-6 col-md-4">
                    <form class="getRidOfIt" method="GET" th:action="@{'/sponsors/' + ${sponsor.pk_sponsor}}">
                        <button class="btn btn-info btn-xs">Подробнее</button> 
                    </form>
                    <div class="thumbnail" >
                        <img class="img-responsive" height="300" width="300" th:src="@{'/img/sponsors/' + ${sponsor.pk_sponsor}}"  />
                        <div class="caption">

                            <center><h4>Название/ФИО: <strong><span th:text="${sponsor.name}"></span></strong></h4></center>
                            <center><h6>Организация: <span th:text="${sponsor.showIs_organization}"></span></h6></center>
                            <center><h6>Номер телефона: <span th:text="${sponsor.telephone}"></span></h6></center>
                            <center><h6>Адрес: <span th:text="${sponsor.address}"></span></h6></center>
                            <center><h6>Сайт: <span th:text="${sponsor.site}"></span></h6></center>
                            <center><h6>Почта: <span th:text="${sponsor.email}"></span></h6></center>
                            <center><h6>description: <span th:text="${sponsor.description}"></span></h6></center>

                        </div>
                    </div>
                </div>


            </tr>
        </tbody>
        <script>
            document.title = "Спонсоры";
        </script>
    </th:block>

</html>
