<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">


    <th:block layout:fragment="rows">
        
        <div class="row">
            <div class="col-lg-12">
                <h1 th:text="${staff.name}"></h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" th:src="@{'/img/staves/' + ${staff.pk_staff}}" />
            </div>
            <div class="col-md-5">

                <form style="float: left;   " method="GET" th:action="'/staves/' + ${staff.pk_staff}+'/edit'" >

                    <button type="submit"  class="btn btn-primary" >Редактирование</button>
                </form>

                <form  style="float: right;" method="POST" th:action="'/staves/' + ${staff.pk_staff}">


                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit" class="btn btn-danger" >Удаление</button>

                    <button type="button" class="btn btn-default" onclick="javascript:history.back()" >Назад</button>
                </form>
                <br/> <br/>
                <h3>Описание</h3>
                <p> <h5 th:text="${staff.description}"></h5></p> 
                <h3>Подробности</h3>
                <ul> 
                    <li><strong>Название: </strong> <span th:text="${staff.name}"></span>  </li>
                    <li><strong>Должность:: </strong>  <span th:text="${staff.career}"></span>   </li> 
                    <li><strong>Номер телефона: </strong> <span th:text="${staff.telephone}"></span> </li>                
                    <li><strong>Дата рождения: </strong>  <span th:text="${staff.date_of_birth}"></span>   </li>
                    <li><strong>Адрес:</strong>  <span th:text="${staff.address}"></span></li>

                </ul>
            </div>
        </div>
        <script>
            document.title = "Сотрудник";
        </script>
    </th:block>
</html>