<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">


    <th:block layout:fragment="rows">
        <div class="row">
            <div class="col-lg-12">
                <h1 th:text="${support_type.title}"></h1>

            </div>
        </div>
        <div class="row">

            <div style="float: right;   " class="col-md-5">

                <form style="float: left;   " method="GET" th:action="'/support_types/' + ${support_type.pk_support_type}+'/edit'" >

                    <button type="submit"  class="btn btn-primary" >Редактирование</button>
                </form>

                <form  style="float: right;" method="POST" th:action="'/support_types/' + ${support_type.pk_support_type}">


                    <input type="hidden" name="_method" value="DELETE"/>
                    <button type="submit" class="btn btn-danger" >Удаление</button>

                    <button type="button" class="btn btn-default" onclick="javascript:history.back()" >Назад</button>
                </form>
                <br/> <br/> 
                <h3>Подробности</h3>
                <ul> 
                    <li><strong>Тип поддержки: </strong> <span th:text="${support_type.title}"></span>  </li>

                </ul>
            </div>
        </div>
    </th:block>
</html>