<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">


    <th:block layout:fragment="rows">

        <form method="POST" th:action="'/temporary_owners/add'">

            <table class="table">
                <div class="caption">
                    <input  name="name" placeholder="ФИО"  />
                </div>
                <div class="caption">
                    <input  name="telephone" placeholder="Номер телефона"  />
                </div>	

                <div class="caption">
                    <input  name="address" placeholder="Адрес"  />
                </div>	
                <div class="caption">
                    <input  name="amount_of_animal" placeholder="Количество животных"  />
                </div>	

                <span class="btn btn-default btn-file">
                    Вставить картинку <input type="file"/>
                </span>

            </table>


            <button type="submit" class="btn btn-primary">Добавить</button> 
            <button type="reset" class="btn btn-default">Очистить поля</button> 

        </form>

        <br/><br/><br/>

        <tbody>
            <tr th:each="temp_owner: ${temp_owners}">
                <tr class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="thumbnail" th:href="@{'/temporary_owners/' + ${temp_owner.pk_temp_owner}}">
                            <img th:src="@{'/img/' + ${temp_owner.pk_temp_owner}} +'.jpg'"  />
                            <div class="caption">
                                <center><h4>ФИО: <strong><span th:text="${temp_owner.name}"></span></strong></h4></center>
                                <center><h6>Номер телефона: <span th:text="${temp_owner.telephone}"></span></h6></center>
                                <center><h6>Адрес: <span th:text="${temp_owner.address}"></span></h6></center>
                                <center><h6>Количество животных: <span th:text="${temp_owner.amount_of_animal}"></span></h6></center>

                            </div>
                        </a>
                    </div>
                </tr>
            </tr>
        </tbody>

    </th:block>

</html>